<!DOCTYPE html>
<html lang="vi" class="loading-site no-js">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head th:replace="layoutsClient::head">
	 
</head>

<body
	class="page-template page-template-page-blank page-template-page-blank-php page page-id-20 lightbox nav-dropdown-has-arrow">
	<a class="skip-link screen-reader-text" href="#main">Skip to content</a>
	<div id="wrapper">
		  <header  th:replace="layoutsClient::header" id="header" class="header has-sticky sticky-jump">
		 
		</header>
		<main id="main" class="">
			<div id="content" role="main" class="content-area">
				<section class="section" id="section_1043395860">
					<div class="bg section-bg fill bg-fill  bg-loaded">
					</div>
					<!-- .section-bg -->
					<div class="section-content relative">
						<div class="row row-collapse row-full-width" id="row-478490111">
							<div class="col small-12 large-12" data-animate="fadeInLeft">
								<div class="col-inner">
									<p><iframe
											src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1959.719095821047!2d106.65464575801121!3d10.777712232976931!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ec6fe14f3d9%3A0x39e5ae54610ac84b!2zMzE5IEzDvSBUaMaw4budbmcgS2nhu4d0LCBwaMaw4budbmcgMTUsIFF14bqtbiAxMSwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2sus!4v1519274540266"
											width="100%" height="450" frameborder="0" style="border:0"
											allowfullscreen></iframe></p>
								</div>
							</div>
							<style scope="scope">
							</style>
						</div>
						<div class="row" id="row-1962151598">
							<div class="col small-12 large-12">
								<div class="col-inner" style="margin:0px 0px -60px 0px;">
									<section class="section sec_footer_1" id="section_1978212992">
										<div class="bg section-bg fill bg-fill  ">
										</div>
										<!-- .section-bg -->
										<div class="section-content relative">
											<div class="row row-collapse align-middle" id="row-2133964370">
												<div class="col medium-1 small-12 large-1">
													<div class="col-inner">
													</div>
												</div>
												<div class="col medium-3 small-12 large-3">
													<div class="col-inner text-center">
														<div class="img has-hover x md-x lg-x y md-y lg-y"
															id="image_313010135">
															<div class="img-inner dark">
																<img width="276" height="536"
																	th:src="@{/content/uploads/2018/02/contact-people.png}"
																	class="attachment-original size-original" alt=""
																	 
																	sizes="(max-width: 276px) 100vw, 276px" />
															</div>
															<style scope="scope">
																#image_313010135 {
																	width: 50%;
																}

																@media (min-width:550px) {
																	#image_313010135 {
																		width: 100%;
																	}
																}
															</style>
														</div>
													</div>
												</div>
												<div class="col medium-1 small-12 large-1">
													<div class="col-inner">
													</div>
												</div>
												<div class="col medium-6 small-12 large-6">
													<div class="col-inner text-center"
														style="background-color:rgb(255, 221, 0);padding:50px 30px 20px 30px;">
														<h2>CONTACT US</h2>
														<p>Just pack and go! Let leave your travel plan to travel
															experts!</p>
														<div role="form" class="wpcf7" id="wpcf7-f5-p20-o1" lang="vi"
															dir="ltr">
															<div class="screen-reader-response"></div>
															<form
																th:action="@{/contacts/save}" method="POST" th:object="${submitForm}"
																 class="wpcf7-form"
																novalidate="novalidate">
													 
																<p><span class="wpcf7-form-control-wrap text-name">
																	<input
																		th:field="*{name}"
																			type="text" name="text-name" value=""
																			size="40"
																			class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form_contact"
																			id="text-name" aria-required="true"
																			aria-invalid="false"
																			placeholder="Họ và tên" /></span>
																		                                    <div class="has-error">
					         			 <span style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" ></span>     		
					         		</div>	
																		<br />
																	<span
																		class="wpcf7-form-control-wrap email-contact">
																		<input
																			th:field="*{email}"
																			type="email" name="email-contact" value=""
																			size="40"
																			class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form_contact"
																			id="email-contact" aria-required="true"
																			aria-invalid="false"
																			placeholder="Email" /></span>
																			                                    <div class="has-error">
					         			 <span style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></span>     		
					         		</div>
																			<br />
																	<span
																		class="wpcf7-form-control-wrap textarea-mess">
																		<textarea
																			th:field="*{content}"
																			name="textarea-mess" cols="40" rows="10"
																			class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form_contact"
																			id="textarea-mess" aria-required="true"
																			aria-invalid="false"
																			placeholder="Nội dung"></textarea></span><br />
																	<input type="submit" value="Gửi tin nhắn"
																		class="wpcf7-form-control wpcf7-submit form_contact"
																		id="bt-gui" />
																		                                    <div class="has-error">
					         			 <span style="color: red" th:if="${#fields.hasErrors('content')}" th:errors="*{content}" ></span>     		
					         		</div>
																</p>
																<div class="wpcf7-response-output wpcf7-display-none">
																</div>
															</form>
														</div>
													</div>
												</div>
												<div class="col medium-1 small-12 large-1">
													<div class="col-inner">
													</div>
												</div>
												<style scope="scope">
												</style>
											</div>
										</div>
										<!-- .section-content -->
										<style scope="scope">
											#section_1978212992 {
												padding-top: 0px;
												padding-bottom: 0px;
											}

											#section_1978212992 .section-bg.bg-loaded {
												background-image: url(../content/uploads/2018/02/bg-section-contact-1024x533.jpg);
											}
										</style>
									</section>
								</div>
							</div>
						</div>
					</div>
					<!-- .section-content -->
					<style scope="scope">
						#section_1043395860 {
							padding-top: 0px;
							padding-bottom: 0px;
						}
					</style>
				</section>
				<div class="gap-element clearfix" style="display:block; height:auto; padding-top:30px"  ></div>
				<div data-slug="" class="wpf-search-container"></div>
			</div>
		</main>
		<!-- #main -->
		    <footer th:replace="layoutsClient::footer" id="footer" class="footer-wrapper">
       
    		</footer>
		<!-- .footer-wrapper -->
	</div>
	<!-- #wrapper -->
	<!-- Mobile Sidebar -->
	<div id="main-menu" class="mobile-sidebar no-scrollbar mfp-hide">
		<div class="sidebar-menu no-scrollbar ">
			<ul class="nav nav-sidebar  nav-vertical nav-uppercase">
				<li class="header-search-form search-form html relative has-icon">
					<div class="header-search-form-wrapper">
						<div class="searchform-wrapper ux-search-box relative form- is-normal">
							<form role="search" method="get" class="searchform"
								action="https://mauweb.monamedia.net/lets-travel/">
								<div class="flex-row relative">
									<div class="flex-col flex-grow">
										<input type="search" class="search-field mb-0" name="s" value=""
											placeholder="Tìm kiếm&hellip;" />
										<input type="hidden" name="post_type" value="product" />
									</div>
									<!-- .flex-col -->
									<div class="flex-col">
										<button type="submit"
											class="ux-search-submit submit-button secondary button icon mb-0">
											<i class="icon-search"></i> </button>
									</div>
									<!-- .flex-col -->
								</div>
								<!-- .flex-row -->
								<div class="live-search-results text-left z-top"></div>
							</form>
						</div>
					</div>
				</li>
				<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-1113"><a
						href="../index.html" class="menu-image-title-after"><span class="menu-image-title">Trang
							chủ</span></a></li>
				<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1114"><a
						href="../gioi-thieu/index.html" class="menu-image-title-after"><span
							class="menu-image-title">Giới thiệu</span></a></li>
				<li
					class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-1226">
					<a href="../danh-muc/tour-du-lich/index.html" class="menu-image-title-after"><span
							class="menu-image-title">Tour du lịch</span></a>
					<ul class=children>
						<li
							class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-1227">
							<a href="../danh-muc/tour-du-lich/mien-bac/index.html" class="menu-image-title-after"><span
									class="menu-image-title">Miền bắc</span></a>
							<ul class=nav-sidebar-ul>
								<li
									class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1228">
									<a href="../danh-muc/tour-du-lich/mien-bac/ha-noi/index.html"
										class="menu-image-title-after"><span class="menu-image-title">Hà Nội</span></a>
								</li>
								<li
									class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1229">
									<a href="../danh-muc/tour-du-lich/mien-bac/sapa/index.html"
										class="menu-image-title-after"><span class="menu-image-title">Sapa</span></a>
								</li>
								<li
									class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1230">
									<a href="../danh-muc/tour-du-lich/mien-bac/vinh-ha-long/index.html"
										class="menu-image-title-after"><span class="menu-image-title">Vịnh Hạ
											Long</span></a>
								</li>
							</ul>
						</li>
						<li
							class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-1231">
							<a href="../danh-muc/tour-du-lich/mien-trung/index.html"
								class="menu-image-title-after"><span class="menu-image-title">Miền trung</span></a>
							<ul class=nav-sidebar-ul>
								<li
									class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1233">
									<a href="../danh-muc/tour-du-lich/mien-trung/hue/index.html"
										class="menu-image-title-after"><span class="menu-image-title">Huế</span></a>
								</li>
								<li
									class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1232">
									<a href="../danh-muc/tour-du-lich/mien-trung/da-nang/index.html"
										class="menu-image-title-after"><span class="menu-image-title">Đà Nẵng</span></a>
								</li>
								<li
									class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1235">
									<a href="../danh-muc/tour-du-lich/mien-trung/phu-yen/index.html"
										class="menu-image-title-after"><span class="menu-image-title">Phú Yên</span></a>
								</li>
								<li
									class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1234">
									<a href="../danh-muc/tour-du-lich/mien-trung/nha-trang/index.html"
										class="menu-image-title-after"><span class="menu-image-title">Nha
											Trang</span></a>
								</li>
								<li
									class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1236">
									<a href="../danh-muc/tour-du-lich/mien-trung/quang-nam/index.html"
										class="menu-image-title-after"><span class="menu-image-title">Quảng
											Nam</span></a>
								</li>
							</ul>
						</li>
						<li
							class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-1237">
							<a href="../danh-muc/tour-du-lich/mien-nam/index.html" class="menu-image-title-after"><span
									class="menu-image-title">Miền nam</span></a>
							<ul class=nav-sidebar-ul>
								<li
									class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1239">
									<a href="../danh-muc/tour-du-lich/mien-nam/da-lat/index.html"
										class="menu-image-title-after"><span class="menu-image-title">Đà Lạt</span></a>
								</li>
								<li
									class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1238">
									<a href="../danh-muc/tour-du-lich/mien-nam/con-dao/index.html"
										class="menu-image-title-after"><span class="menu-image-title">Côn Đảo</span></a>
								</li>
								<li
									class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1240">
									<a href="../danh-muc/tour-du-lich/mien-nam/phan-thiet/index.html"
										class="menu-image-title-after"><span class="menu-image-title">Phan
											Thiết</span></a>
								</li>
								<li
									class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1241">
									<a href="../danh-muc/tour-du-lich/mien-nam/phu-quoc/index.html"
										class="menu-image-title-after"><span class="menu-image-title">Phú
											Quốc</span></a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1242"><a
						href="../danh-muc/khach-san/index.html" class="menu-image-title-after"><span
							class="menu-image-title">Khách sạn</span></a></li>
				<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1116"><a
						href="../category/tin-tuc/index.html" class="menu-image-title-after"><span
							class="menu-image-title">Tin tức</span></a></li>
				<li
					class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-20 current_page_item menu-item-1115">
					<a href="index.html" class="menu-image-title-after"><span class="menu-image-title">Liên
							hệ</span></a>
				</li>
				<li class="account-item has-icon menu-item">
					<a href="../tai-khoan/index.html" class="nav-top-link nav-top-not-logged-in">
						<span class="header-account-title">
							Đăng nhập </span>
					</a><!-- .account-login-link -->
				</li>
				<li class="html custom html_topbar_right">
					<div class="header_main_link">
						<p>
							<img src="https://mauweb.monamedia.net/party/content/uploads/2018/01/icon-phone.svg">
							<a href="tel:+01269220162">
								<p>0126 922 0162</br> Hotline</p>
							</a>
						</p>
					</div>
				</li>
				<li class="html custom html_top_right_text">
					<div class="header_main_link">
						<p>
							<img src="https://mauweb.monamedia.net/party/content/uploads/2018/01/icon-cart.svg">
							<a href="../category/tin-tuc/index.html">
								<p>Những kiến thức</br>bổ ích</p>
							</a>
						</p>
					</div>
				</li>
			</ul>
		</div>
		<!-- inner -->
	</div>
	<!-- #mobile-menu -->
	<div id="login-form-popup" class="lightbox-content mfp-hide">
		<div class="account-container lightbox-inner">
			<div class="account-login-inner">
				<h3 class="uppercase">Đăng nhập</h3>
				<form class="woocommerce-form woocommerce-form-login login" method="post">
					<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
						<label for="username">Tên tài khoản hoặc địa chỉ email <span class="required">*</span></label>
						<input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="username"
							id="username" value="" />
					</p>
					<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
						<label for="password">Mật khẩu <span class="required">*</span></label>
						<input class="woocommerce-Input woocommerce-Input--text input-text" type="password"
							name="password" id="password" />
					</p>
					<p class="form-row">
						<input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce"
							value="ae39045dc9" /><input type="hidden" name="_wp_http_referer"
							value="/lets-travel/lien-he/" /> <button type="submit" class="woocommerce-Button button"
							name="login" value="Đăng nhập">Đăng nhập</button>
						<label class="woocommerce-form__label woocommerce-form__label-for-checkbox inline">
							<input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme"
								type="checkbox" id="rememberme" value="forever" /> <span>Ghi nhớ mật khẩu</span>
						</label>
					</p>
					<p class="woocommerce-LostPassword lost_password">
						<a href="../tai-khoan/lost-password/index.html">Quên mật khẩu?</a>
					</p>
				</form>
			</div>
			<!-- .login-inner -->
		</div>
	</div>
	<script type='text/javascript'
		src="../content/plugins/themify-wc-product-filter/public/js/wpf-publicd279.js?ver=1.1.5"></script>
	<script type='text/javascript' src="../includes/js/hoverIntent.minc245.js?ver=1.8.1"></script>
	<script type='text/javascript'>
		var flatsomeVars = { "ajaxurl": "http:\/\/mauweb.monamedia.net\/lets-travel\/wp-admin\/admin-ajax.php", "rtl": "", "sticky_height": "70" };
	</script>
	<script type='text/javascript' src="../content/themes/flatsome/assets/js/flatsome3b71.js?ver=3.5.0"></script>
</body>

</html>