 


<!DOCTYPE html>
<html>
  <head th:replace="layouts::head">
   
  </head>
  
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a th:href='@{/index}' class="site_title"><i class="fa fa-paw"></i> <span> Management </span></a>
            </div>
            <div class="clearfix"></div>
            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img th:src="@{/resources/images/img.jpg}" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>name</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->
            <br />
            <!-- sidebar menu -->

			<div th:replace="layouts::sidebar" >
 
			</div>		
 
            <!-- /sidebar menu -->
            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>
        <!-- top navigation -->
        
		<div  th:replace="layouts::top_nav"  >
 
          </div>
        <!-- /top navigation -->
        
        
        <!-- page content -->
           
      <div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row" style="display: inline-block;" >
          <div class="tile_count">
            
          </div>
        </div>
          <!-- /top tiles -->
  
 		</div>
		 <!-- page content -->
<script type="text/javascript">
 
	$(document).ready(function(){
		var msgError = '[[${msgError}]]';
		var msgSuccess = '[[${msgSuccess}]]';
		if(msgError){
			new PNotify({
		        title: 'Thông Báo',
		        text: msgError,
		        type: 'error',
		        styling: 'bootstrap3'
		        
		    });	
		}
		if(msgSuccess){
			new PNotify({
		        title: 'Thông Báo',
		        text: msgSuccess,
		        type: 'success',
		        styling: 'bootstrap3'
		    });	
		}
	});
	
	$(document).ready(function(){
		$('#home').parents("li").addClass('active').siblings().removeClass("active");
		$('#home').addClass('current-page').siblings().removeClass("current-page");
		$('#home').parents().show();
	});
	

	
</script>
        <!-- /page content -->
        
        
        <!-- footer content -->
        
		<footer th:replace="layouts::footer"   >
        
        </footer>
        
        <!-- /footer content -->
      </div>
    </div>
     
    <script th:src="@{/resources/vendors/jqvmap/dist/jquery.vmap.js}"></script>
    <script th:src="@{/resources/vendors/jqvmap/dist/maps/jquery.vmap.world.js}"></script>
    <script th:src="@{/resources/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js}"></script>
	<script th:src="@{/resources/vendors/Chart.js/dist/Chart.min.js}"></script>
    <script th:src="@{/resources/vendors/pnotify/dist/pnotify.js}"></script>
    <script th:src="@{/resources/vendors/pnotify/dist/pnotify.buttons.js}"></script>
    <script th:src="@{/resources/vendors/pnotify/dist/pnotify.nonblock.js}"></script>
    <script th:src="@{/resources/vendors/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/resources/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/resources/vendors/fastclick/lib/fastclick.js}"></script>
    <script th:src="@{/resources/vendors/nprogress/nprogress.js}"></script>
    <script th:src="@{/resources/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js}"></script>
 	<script th:srr="@{/resources/vendors/moment/min/moment.min.js}"></script>
    <script th:src="@{/resources/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js}"></script>
    <script th:src="@{/resources/build/js/custom.min.js}"></script>
  </body>
</html>